::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

::-webkit-scrollbar-corner {
  background: black;
}

html {
  font-size: 14px;
  background-color: black;
  min-width: 100vw;
  max-width: 100vw;
  overflow: scroll;

  @media (min-width: 100px) {
    font-size: 13px;
  }

  @media (min-width: 576px) {
    font-size: 14.5px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }

  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgstyle {
  /* background: linear-gradient(136deg, #1ad7c0, #8E44AD, #ff9b11, #1F3A93, #ddd8c6, #000000, #000000);  */
  /*background: linear-gradient(
    136deg,
    #4484ce,
    #1ad7c0,
    #ff9b11,
    #9b59b6,
    #ff7f7f,
    #ecf0f1
  );*/

  -webkit-animation: BackgroundAnimation 70s ease infinite;
  -moz-animation: BackgroundAnimation 70s ease infinite;
  -o-animation: BackgroundAnimation 70s ease infinite;
  animation: BackgroundAnimation 70s ease infinite;
  height: 100%;
}

.bg-gradient {
  background: linear-gradient(rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.2s;
}
.navbar-white {
  background-color: rgba(234, 236, 239, 0.81);
  transition: background-color 0.2s;
}
.brand {
  color: #363636 !important;
}
.nav-item {
  transition: color, 0.2s;
}
.toggler {
  border: none;
  padding: 4px;
  border-radius: 4px;
  &:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.colorfade {
  color: white;
  transition: all 0.8s;
  margin: 4px;
  &:hover {
    color: red;
    transition: all 0.8s;
    margin: 4px;
  }
}

.customtextshadow:hover {
  text-shadow: 1px 1px 0.5px white;
}

.customnavbarcolor {
  background-color: rgb(250, 250, 250);
}

.customnavbarblack {
  background-color: transparent !important;
}

.colorfade2 {
  color: white !important;
  background-color: black !important;
  transition: all 0.8s;
  margin: 4px;
  &:hover,
  &:active {
    color: red !important;
    background-color: black !important;
    border: 1px solid red !important;
    transition: all 0.8s;
    margin: 4px;
  }
}

.socialicons {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 0.8s;
  margin: 4px;
  &:hover {
    color: red;
    padding-left: 5px;
    padding-right: 5px;
    transition: all 0.8s;
    margin: 4px;
  }
}

.title {
  height: 100%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  margin-top: 0px;
}

.typist {
  min-height: 6rem;
  @media (min-width: 360px) {
    min-height: 4rem;
  }
  @media (min-width: 768px) {
    min-height: 2.5rem;
  }
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    box-shadow: 0 2rem 3rem rgba($black, 0.175) !important;
    transform: translateY(-2px);
    transition: transform 0.3s, box-shadow 0.3s;
  }
}
.skills-tabs {
  flex-grow: 1;
}
.skills-tab {
  flex-grow: 1;
  text-align: center;
}

.progress {
  transform-origin: left;
  & > * {
    transform: scaleX(0);
  }
}
.progress-bar-animation {
  @extend .progress;
  & > * {
    animation: progress 1.5s ease-in-out forwards;
  }
}

.cardcontainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
  border-radius: 10px;
  margin-bottom: 0.5%;
}

.customheading {
  font-size: 70px;
  font-weight: 600;
  background-image: conic-gradient(black, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.customheading2 {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.customheading3 {
  font-size: 70px;
  font-weight: 600;
  background-image: conic-gradient(#ee4b2b, white);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.progress-bar {
  background-image: linear-gradient(to right, #553c9a 45%, #ee4b2b);
  color: transparent;
}

.nav-link {
  color: black !important;
}

.nav-link:focus {
  color: black !important;
}
